*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.025rem;
  line-height: 1.5rem;
  
}

.FAQ{
  background-image:url(/images/pattern4.jpg) !important;
  height: fit-content;
  padding-top: 2rem;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.FAQ::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); 
  z-index: 1;
}


.FAQ h1{
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  z-index: 2;
  position: relative;
  font-weight: 600;
}
.FAQ h1 span{
  color: rgb(181, 161, 145);
}

.FAQ p{
  text-align: center;
  z-index: 2;
  position: relative;
  padding-top: 1.5rem;
}

.questions-section{
  padding-top: 4rem;
  padding-bottom: 4rem;
   padding-left: 11rem;
  padding-right: 11rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
height: 100%;
z-index: 10 !important;
position: relative;
}

.question{
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
border: 2px solid rgba(110, 170, 140, 0.8);
 
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
}

.question1{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
.question1 i{
  font-size: 0.875rem;
  transition: transform 0.3s ease;
  cursor: pointer;
 color: rgb(159, 94, 41);
}
.answer1{
 display: none;
 font-size: 0.875rem;
 transition: all 0.3s ease;
}

@media screen and (min-width:1440px) {
  .FAQ{
    
   padding-top: 6rem;

  }
  .FAQ h1{
    font-size: 2rem;
  }
  .FAQ p{
    padding-top: 2rem;
  }

  .questions-section{
    padding-bottom: 6rem;
    align-items: center;
    height: 100%;
    justify-content: center;
    padding-top: 5rem;
   
  }

  .question{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
 
}

@media screen and (max-width:1024px) {
   .questions-section{
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media screen and (max-width:768px) {
  .questions-section{
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .FAQ{
    padding-top: 4rem;
  }
}

@media screen and (max-width:480px) {
    .questions-section{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}